#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
#include /usr/share/cdbs/1/class/cmake.mk
include /usr/share/cdbs/1/class/python-distutils.mk

# Add here any variable or target overrides you need.
DEB_CONFIGURE_EXTRA_FLAGS = --enable-all --enable-langall CXXFLAGS="-O2" CFLAGS="-O2"
#DEB_CMAKE_EXTRA_FLAGS = -Denable-all=true -Denable-langall=true

DEB_PYTHON_CLEAN_ARGS = --all
DEB_PYTHON_INSTALL_ARGS_ALL = --no-compile --force --root=debian/python-mathgl/
binary-install/libmgl-dev::
	rm -f debian/libmgl-dev/usr/include/mgl/mgl_fltk.h
	rm -f debian/libmgl-dev/usr/include/mgl/mgl_glut.h
	rm -f debian/libmgl-dev/usr/include/mgl/mgl_qt.h
	rm -f debian/libmgl-dev/usr/include/mgl/mgl_wx.h
